$DATAGRID_THEME_NAME: "hf-dark";
$INOVUA_DATAGRID_BG_COLOR: #191919;
$INOVUA_DATAGRID_HEADER_BG: #1e1e1e;
$INOVUA_DATAGRID_ACCENT_COLOR: #26324a;
$INOVUA_DATAGRID_FONT_COLOR: #e5e5e5;
$INOVUA_DATAGRID_BORDER_COLOR: #2c2c2c;
$INOVUA_DATAGRID_CELL_BORDER_COLOR: #2c2c2c;
$INOVUA_DATAGRID_HEADER_BORDER_COLOR: #2c2c2c;

$INOVUA_DATAGRID_ROW_ODD_BG_COLOR: $INOVUA_DATAGRID_BG_COLOR;
$INOVUA_DATAGRID_ROW_EVEN_BG_COLOR: $INOVUA_DATAGRID_BG_COLOR;
$INOVUA_DATAGRID_ROW_ODD_HOVER_BG_COLOR: $INOVUA_DATAGRID_ACCENT_COLOR;
$INOVUA_DATAGRID_ROW_EVEN_HOVER_BG_COLOR: $INOVUA_DATAGRID_ACCENT_COLOR;

$INOVUA_TEXT_INPUT_BG_COLOR: #191919;
$INOVUA_TEXT_INPUT_BORDER_COLOR: #383838;
$INOVUA_TEXT_INPUT_BORDER_COLOR_FOCUSED: $INOVUA_TEXT_INPUT_BORDER_COLOR;
$INOVUA_TEXT_INPUT_BORDER_COLOR_HOVER: $INOVUA_TEXT_INPUT_BORDER_COLOR;

$INOVUA_COMBO_BOX_BG: #191919;
$INOVUA_COMBO_BOX_FOCUS_BACKGROUND: $INOVUA_COMBO_BOX_BG;
$INOVUA_COMBO_BOX_LIST_BG: $INOVUA_COMBO_BOX_BG;
$INOVUA_COMBO_BOX_BORDER_COLOR: #383838;
$INOVUA_COMBO_BOX_HOVER_BORDER_COLOR: #383838;
$INOVUA_COMBO_BOX_FOCUSED_BORDER_COLOR: $INOVUA_COMBO_BOX_HOVER_BORDER_COLOR;
$INOVUA_COMBO_BOX_HOVER_BORDER_COLOR: $INOVUA_COMBO_BOX_HOVER_BORDER_COLOR;
$INOVUA_COMBO_BOX_SELECTED_ITEM_BACKGROUND: $INOVUA_DATAGRID_ACCENT_COLOR;
$INOVUA_COMBO_BOX_HOVER_ITEM_BACKGROUND: $INOVUA_DATAGRID_ACCENT_COLOR;

$INOVUA_DATAGRID_COLUMN_HEADER_RESIZER_CONSTRAINED_COLOR: $INOVUA_DATAGRID_ACCENT_COLOR;

.InovuaReactDataGrid--theme-hf-dark .InovuaReactDataGrid__row--active,
.InovuaReactDataGrid--theme-hf-dark .InovuaReactDataGrid__row--selected {
  background-color: #1a2740 !important;
}

.InovuaReactDataGrid--theme-hf-dark .InovuaReactDataGrid__resize-proxy {
  background: $INOVUA_DATAGRID_ACCENT_COLOR;
}

.inovua-react-toolkit-checkbox.inovua-react-toolkit-checkbox--theme-hf-dark.inovua-react-toolkit-checkbox--checked .inovua-react-toolkit-checkbox__icon-wrapper {
  fill: #688ad7ff !important;
  stroke: $INOVUA_DATAGRID_FONT_COLOR !important;
}

.inovua-react-toolkit-checkbox.inovua-react-toolkit-checkbox--theme-hf-dark.inovua-react-toolkit-checkbox--indeterminate .inovua-react-toolkit-checkbox__icon-wrapper svg {
  background: #688ad7ff !important;
}

@import "@inovua/reactdatagrid-community/style/theme/default-dark/index.scss";
