$DATAGRID_THEME_NAME: "ikarus-dark";
$INOVUA_DATAGRID_BG_COLOR: #212121;
$INOVUA_DATAGRID_HEADER_BG: #181818;
$INOVUA_DATAGRID_ACCENT_COLOR: #252525;
$INOVUA_DATAGRID_BORDER_COLOR: #383838;
$INOVUA_DATAGRID_FONT_COLOR: #ffffff;
$INOVUA_DATAGRID_HEADER_BORDER_COLOR: $INOVUA_DATAGRID_BORDER_COLOR;
$INOVUA_DATAGRID_HEADER_PROXY_BORDER_COLOR: $INOVUA_DATAGRID_BORDER_COLOR;
$INOVUA_DATAGRID_ROW_INDEX_BG: red;
$INOVUA_DATAGRID_ROW_ODD_BG_COLOR: #282828;
$INOVUA_DATAGRID_ROW_EVEN_BG_COLOR: #343434;
$HEADER: #1b1b1b;

@import "@inovua/reactdatagrid-community/style/theme/default-dark/index.scss";
