$DATAGRID_THEME_NAME: "amber-light" !default;
$INOVUA_DATAGRID_ACCENT_COLOR: #caae53 !default;
$INOVUA_CHECKBOX_PRIMARY_COLOR: #caae53 !default;
$INOVUA_COMBO_BOX_MAIN_COLOR: #caae53 !default;
$INOVUA_TEXT_INPUT_ACCENT_COLOR: #caae53 !default;

@import "../default-light/index.scss";
