@import "../compat";

$TDG_COLOR_SCHEME: light !default;
$DATAGRID_THEME_NAME: "default-light" !default;

$INOVUA_DATAGRID_ACCENT_COLOR: #7986cb !default;
$INOVUA_CHECKBOX_PRIMARY_COLOR: $INOVUA_DATAGRID_ACCENT_COLOR !default;
$INOVUA_COMBO_BOX_MAIN_COLOR: $INOVUA_DATAGRID_ACCENT_COLOR !default;
$INOVUA_TEXT_INPUT_ACCENT_COLOR: $INOVUA_DATAGRID_ACCENT_COLOR !default;

$INOVUA_DATAGRID_BG_COLOR: #ffffff !default;
$INOVUA_DATAGRID_FONT_COLOR: #555e68 !default;
$INOVUA_DATAGRID_HEADER_COLOR: #7d8389 !default;
$INOVUA_DATAGRID_HEADER_BG: #ffffff !default;
$INOVUA_DATAGRID_BORDER_COLOR: #e4e3e2 !default;
$INOVUA_DATAGRID_CELL_BORDER_COLOR: #e4e3e2 !default;
$INOVUA_DATAGRID_HEADER_BORDER_COLOR: #e4e3e2 !default;
$INOVUA_DATAGRID_HEADER_PROXY_BORDER_COLOR: #cdcecd !default;

$INOVUA_DATAGRID_ROW_ODD_BG_COLOR: #f8f8f8 !default;
$INOVUA_DATAGRID_ROW_EVEN_BG_COLOR: #ffffff !default;
$INOVUA_DATAGRID_ROW_ODD_HOVER_BG_COLOR: tdg-rgba-to-rgb(rgba($INOVUA_DATAGRID_ACCENT_COLOR, 0.15), $INOVUA_DATAGRID_BG_COLOR) !default;
$INOVUA_DATAGRID_ROW_EVEN_HOVER_BG_COLOR: tdg-rgba-to-rgb(rgba($INOVUA_DATAGRID_ACCENT_COLOR, 0.15), $INOVUA_DATAGRID_BG_COLOR) !default;
$INOVUA_DATAGRID_ROW_SELECTED_BG_COLOR: tdg-rgba-to-rgb(rgba($INOVUA_DATAGRID_ACCENT_COLOR, 0.25), $INOVUA_DATAGRID_BG_COLOR) !default;
$INOVUA_DATAGRID_ROW_SELECTED_HOVER_BG_COLOR: tdg-rgba-to-rgb(rgba($INOVUA_DATAGRID_ACCENT_COLOR, 0.35), $INOVUA_DATAGRID_BG_COLOR) !default;

$INOVUA_TEXT_INPUT_BG_COLOR: #ffffff !default;
$INOVUA_TEXT_INPUT_FONT_COLOR: #555e68 !default;
$INOVUA_TEXT_INPUT_BORDER_COLOR: #cdcecd !default;
$INOVUA_TEXT_INPUT_BORDER_COLOR_FOCUSED: $INOVUA_TEXT_INPUT_ACCENT_COLOR !default;
$INOVUA_TEXT_INPUT_BORDER_COLOR_HOVER: $INOVUA_TEXT_INPUT_ACCENT_COLOR !default;

$INOVUA_COMBO_BOX_BG: #ffffff !default;
$INOVUA_COMBO_BOX_LIST_BG: $INOVUA_COMBO_BOX_BG !default;
$INOVUA_COMBO_BOX_COLOR: #555e68 !default;
$INOVUA_COMBO_BOX_BORDER_COLOR: #cdcecd !default;
$INOVUA_COMBO_BOX_FOCUSED_BORDER_COLOR: $INOVUA_COMBO_BOX_MAIN_COLOR !default;
$INOVUA_COMBO_BOX_HOVER_BORDER_COLOR: $INOVUA_COMBO_BOX_MAIN_COLOR !default;
$INOVUA_COMBO_BOX_FOCUS_BACKGROUND: $INOVUA_COMBO_BOX_BG !default;
$INOVUA_COMBO_BOX_SELECTED_ITEM_BACKGROUND: rgba($INOVUA_COMBO_BOX_MAIN_COLOR, 0.25) !default;
$INOVUA_COMBO_BOX_HOVER_ITEM_BACKGROUND: rgba($INOVUA_COMBO_BOX_MAIN_COLOR, 0.15) !default;

$INOVUA_DATAGRID_COLUMN_HEADER_RESIZER_CONSTRAINED_COLOR: rgba(232, 64, 54, 0.5) !default;

$INOVUA_CHECKBOX_COLOR: #555e68 !default;
$INOVUA_CHECKBOX_SECONDARY_COLOR: #99a1aa !default;

@include export-datagrid-theme();
